apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: strimzi
helmCharts:
- name: strimzi-kafka-operator
  includeCRDs: true
  releaseName: strimzi
  version: 0.30.0
  repo: https://strimzi.io/charts/
  namespace: strimzi